#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #0a64d9ed;
  margin-top: 60px;
  background-color: blanchedalmond;
}

.card img {
  width: 200px;
  height: 200px;
}